/*
 * Add your css files in this folder
 *
 * More infos:
 * - You need to run `npm run css` to refresh your CSS settings
 * - Parcelify supports a watch mode - try `parcelify -w ./ build/bundle.css`
 * - You can change your folder with the `style` property in your package.json
 * - You can also use CSS preprocessors like SASS or LESS
 *
 * @see: https://github.com/rotundasoftware/parcelify
 */

.mdsvis-menubar-section {
    width: 33%;
    display: inline-block;
}

#mdsvis-menubar-left {
    text-align: left;
}
#mdsvis-menubar-centre {
    text-align: center;
}
#mdsvis-menubar-right {
    text-align: right;
}

.mdsvis-menubar-control-container {
    display: inline-block;
}

.mdsvis-menubar-label {
    display: inline-block;
}

.mdsvis-menubar-control {
    display: inline-block;
}
